<section>
  <%= render partial: "shared/user", locals: { user: @user }%>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bio</h5>
      <p class="card-text"><%= @user.bio %></p>
    </div>
  </div>
<section>
<section>
  <% for post in @user.recent_three_posts do %>
    <div class="card mt-3">
      <div class="card-header">
        Post #<%= post.id %>
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.text %></p>
        <p class="card-text ms-auto"><small class="text-muted">Comments: <%= post.comments_counter %> </small> <small class="text-muted">Likes: <%= post.likes_counter %></small></p>
      </div>
    </div>
  <% end %>
  <%= link_to 'See all posts', user_posts_path(@user), class: "btn btn-secondary stretched-link d-block mt-3 mx-auto", style: "width: 10em" %>

</section>