<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src=<%= user.photo %> class="img-fluid rounded-start ratio ratio-4x3" alt="<%= user.name %> photo">
      </div>
      <div class="col-md-8">
        <div class="card-body d-flex flex-column">
          <a href="users/<%= user.id %>">
            <h1 class="card-title"><%= user.name %></h1>
          </a>
          <p class="card-text ms-auto"><small class="text-muted">Number of posts: <%= user.posts_counter %></small></p>
        </div>
      </div>
    </div>
  </div>